{% extends "amp_start_blog_post/pages/page.html" %}
{% load mezzanine_tags amp_start_blog_post_tags %}

{% block main %}
	{{ block.super }}
	{% block google_ads_top %}
		{% include "includes/google_ads_top.html" with section_class="p3 mb5 mt5 border-top" %}
	{% endblock %}

	{% editable page.richtextpage.content %}
	<section class="p3 mb5 mt5 border-top">
	    {{ page.richtextpage.content|richtext_filters|to_amp_html|safe }}
	</section>
	{% endeditable %}

	{% block google_ads_bottom %}
		{% include "includes/google_ads_bottom.html" with section_class="p3 mb5 mt5 border-top" %}
	{% endblock %}
{% endblock %}
