{% load i18n %}
{% if current_page.has_previous or current_page.has_next %}
<div class="flex">
<div class="flex-auto p1 border">
	<span>{% trans "Page" %} {{ current_page.number }} {% trans "of" %} {{ current_page.paginator.num_pages }}</span>
</div>
<div class="flex-none p1 border">
	<a{% if current_page.has_previous %} href="?{{ page_var }}={{ current_page.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}>&larr;
	</a>
</div>
{% for page in current_page.visible_page_range %}
	<div class="flex-none p1 border">
	<a href="?{{ page_var }}={{ page }}{% if querystring %}&{{ querystring }}{% endif %}" class="btn {% if page == current_page.number %}btn-primary bg-gray{% endif %}">{{ page }}</a>
	</div>
{% endfor %}
	<div class="flex-none p1 border">
		<a{% if current_page.has_next %} href="?{{ page_var }}={{ current_page.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}>&rarr;</a>
	</div>
</div>
{% endif %}
