{% load i18n mezzanine_tags comment_tags %}
<div id="comments">
<h3>{% trans "Comments" %}</h3>
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% load disqus_tags %}
<amp-iframe width=600 height=140
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            resizable
            src="https://kemsakurai.github.io/amp_discus_thread.html#{% disqus_id_for object_for_comments %}">
            <div overflow tabindex=0 role=button aria-label="Now Loading">Now Loading...</div>
</amp-iframe>
{% else %}
{# TODO Non AMP Code #}
<script>
$(function() {
    $('.reply').click(function() {
        $('.comment-reply-form').hide();
        $(this).siblings('.comment-reply-form').toggle();
    });
});
</script>
<style>.input_id_honeypot {display:none !important;}</style>
{% comment_thread object_for_comments %}
<h3>{% trans "New Comment" %}</h3>
<form method="post" id="comment" action="{{ comment_url }}#comment">
    {% if not request.POST.replied_to %}
    {% fields_for posted_comment_form %}
    {% else %}
    {% fields_for unposted_comment_form %}
    {% endif %}
    <div class="form-actions">
        <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Comment" %}">
    </div>
</form>
{% endif %}
</div>
